.dontshow{
height:68px;
overflow-x:hidden;
overflow-y:hidden;
margin:0px 0px;
}


@media only screen and (max-width: 575px){
    .m-xs-auto{
      margin:auto;
    }
    .makeItSmall{
      width:90%;
    }

    .img-onsmall{
      width:200px;
    }
    .expand{
      margin:0% -30%;
    }
    .make-flex{
      display:flex;
      flex-direction: row;
    }
  }
@media only screen and (max-width:1150px) and (min-width:768px){

  .card {
    width:112%;
  }
}

@media only screen and (max-width:991px){
  .dontshow{
    display:none;
  }

}
@media only screen and (max-width:575px){

  .inside-similar {
    width:115%;
    margin: 20px;
  }
  .make-flex{
    display:flex;
  }
}
@media only screen and (max-width:991px) and (min-width:768px){
  .similar:nth-child(4){
      display:none;
   }
}
